body {
    background-color: #5E463D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

main {
    background-color: #d3b997;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h3 {
    text-align: center;
    color: #2c1c1a;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #d3b997;
    border-radius: 4px;
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #572918;
    color: #EDE7DD;
}

.btn-outline-secondary {
    background-color: transparent;
    color: rgb(84, 52, 23);
    border: 1px solid rgb(84, 52, 23);
}

.text-danger {
    color: red;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 20px;
}
